body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.title {
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}
.title h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
}
.login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}
.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}
.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
}
.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}
#errormessage {
    margin-bottom: 10px;
    color: red;
}
h2 a {
  text-decoration: none;
  color: #000;
}
.button-36 a, .button-36 a:hover, .button-36 a:focus, .button-36 a:active {
    text-decoration: none;
    color: white;
}
header {
  display: flex;
  justify-content: left;
  width: 100%;
  border-bottom: burlywood solid 2px;
  padding: 10px;
  background-color: #aaaaaa46;
}
.account-header {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-right: 20px;
    /* background-color: red; */
}
.container {
  margin-left: 10px;
}
/* CSS */
.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

/* @media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
} */

.pfp img {
    width: 50px;
    float: right;
}
.username {
    margin-left: 25px;
    margin-bottom: 5px;
    color: black;
}
#logout {
    padding: 5px 8px;
    font-size: small;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
.nav {
  width: 14%;
  margin: 75px 20px 20px 20px;
  padding: 0;
  float: left;
}
.nav .rec {
  font-size: xx-large;
  background-color: white;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  padding: 5px;
  border-radius: 10px;
}
.menu {
  background-color: white;
  border: red solid 2px;
  margin-top: 10px;
  z-index: 0;
    
}
.menu button {
  background-color:white;
  display: block;
  padding: 7px 7px;
  margin-left: 20px;
  font-size: medium;
  border: none;
  text-align: left;
  cursor: pointer;
}
.sidebar-btn {
  display: block;
  text-decoration: none;
  padding: 10px;
  padding-left: 20px;
  font-size: medium;
  outline: none;
  font-size: x-large;
}
.sidebar-btn a {
  text-decoration: none;
  color: black;
}
.sidebar-btn a:hover {
 color: red;
}
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
.active {
  background-color: rgba(119, 119, 119, 0.274);
}
#container {
  background-color: white;
  width: 60vw;
  margin: 20px auto 10px auto;
  padding-bottom: 1px;
}

/* table, tr, th, td {
  border: red 2px solid;
} */
th, td {
  padding: 5px;
  padding-right: 20px;
}
.table-friendRequestsSent {
  float: left;
}
/* .table-friendRequestsRecieved {
}
.table-friends {
}
.friendRequestsDiv {
}
.friendsDiv {
} */
ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
ul li{
  display: inline-block;
  clear: both;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 2px;
}
.him{
  background: #eee;
  float: left;
  margin-left: 8px;
}
.me{
  float: right;
  background: #0084ff;
  color: #fff;
  margin-right: 8px;
}
.him + .me{
  border-bottom-right-radius: 5px;
}
.me + .me{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.me:last-of-type{
  border-bottom-right-radius: 30px;
}
.B {
  border: solid 0.5vh rgb(253, 60, 60);
  border-radius: 10px;
  margin: auto;
  width: 50%;
}
.row {
  margin: 0;
  justify-content: end;
}
.Scroll {
  overflow-y: scroll;
  height: 40vh;
  padding-bottom: 20px;
}
.height2{
  height: 300px;
}
#sendbox {
  border-top: rgb(253, 60, 60) solid 0.5vh;
  margin-top: 20px;
  padding: 1.5%;
}
#user {
  margin-left: 180px;
  font-size: 20px;
}
h4 {
  margin-left: 10px;
}